@CHARSET "UTF-8";

#header_sub {
  border-bottom: 1px solid black;
  padding: 20px;
  color: #5e5e5e;
}

#header_sub_event_title {
  color: #c0392b; 
  font-size: 1.15em; 
  padding-right: 5px; 
  border-right: 1px solid black;
}

#header_sub_event_content {
  font-size: 1.15em; 
  margin-left: 10px;
}

#header_sub_navi {
  float: right; 
  font-size: 1.15em;
}


/* 컨텐츠 */

#content {
  margin-left: 200px;
  margin-bottom: 230px;
  padding: 10px;
  border-left: 1px solid rgb(224,224,224);
  background-color: rgb(244,244,244);
}

#content_header {
	padding: 20px 0px;
	height: 140px;
}

#content_profile {
	 float: left;
	 display: inline-block;
	 width: 200px;
	 /* height: 100px;  */
	 margin-left: 20px;
}

.form-inline > .form-group {
	/* padding-bottom: 20px; */
	
}

#content_profile .fa-user-circle-o {
	font-size: 5em;
	color: #9e9e9e;
	
}

#content_profile .profile.name {
	 margin-left:20px;
	 font-size: 1.25em;
}

.itemform {
	 float: left;
	 display: inline-block;
	 width: 110px; 
	 height: 100px;
	 margin-left: 40px;
}

.item.titleform {
	 margin-bottom: 15px; 
	 padding-left: 10px;
}

.item.titleform > .glyphicon {
	 font-size: 1.9em;
}

.item.titletext {
	 font-size: 1.25em;
}

.item.value {
	 display: block; 
	 width: 110px; 
	 border: 1px solid #c0392b; 
	 border-radius: 17px; 
	 font-size: 1.25em; 
	 padding: 5px; 
	 text-align: center; 
	 color: #c0392b;
}

#content_main {
	 padding-left: 80px; 
	 margin: 0px 0px 0px 0px; 
	 width: 650px;
}

#content_main > .row {
	height: 80px;
	color: #5e5e5e;
}

.maintitle {
  background-color: #e0e0e0; 
  border: 1px solid #cccccc; 
  border-radius: 4px; 
  /* padding: 7px; */ 
  font-size: 1.1em; 
  font-weight: bold; 
  height: 34px;
  text-align: center;
}

.maindesc {
  background-color: #ffffff; 
  border: 1px solid #cccccc;
  border-radius: 4px; 
  font-size: 1.0em; 
  height: 40px; 
  text-align: center;
}

.aa {
	display:table-cell;
	width:283px;
	vertical-align: middle;
}

#content_main_form .agree {
	color: #5e5e5e;
}

#content_main_form .register {
  color: #333333;
  font-size: 1.25em;
}

#content_main_form > .form-group {
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	height: 41px;
	width: 566px;
	margin:15px 0;
}

#content_main_form > .form-group.file-list {
	height: 110px;
}

#content_main_form  .name {
	background-color: white;
	height: 35px;
	color: #333333;
}

#content_main_form .control-label {
	font-weight: normal;
}

#content_main_form  .value {
  background-color: #e9e9e9;
  height: 37px;	
}

#content_main_form .value.photo, #content_main_form .name.photo {
	height: 106px;
	vertical-align: middle;
} 

#content_main_form .form-control {
	border-width: 0px;
  background-color: rgba(0,0,0,0);
}

#content_main_form > .terms {
	border: 1px solid #cccccc;
	resize: none;
	background-color: white;
}

.fullwidthbtn {
	margin-top: 20px;
	width: 100%;
	padding: 9px;
	background-color: #e74c3c;
	color: white;
	font-size: 1.3em;
	border-radius: 5px;
	border: 0;
	outline: 0;
	font-weight: bold;
}

.bb {
	display:table-cell;
	text-align:center;
	width:100px;
}

.cc {
	display:table-cell;
	width:466px;
}

#imgfilenames {
	display: block;
	padding-left: 5px;
}

/* 업체종류 선택버튼 */

#cor-select {
	display: inline-block;
	position:relative;
	top:17px;
	
}

#cor-selectpicker {
	display: inline-block;
	border-top:2px solid #cccccc;
	border-bottom:2px solid #cccccc;
	background-color: #e9e9e9;
	height:41px;
	position:relative;
	left:-3px;
	top:-1px;
	
}

#question_prefix {
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  height: 41px;
  width: 566px;
  margin:15px 0;
  display:table-cell;
  text-align:center;
  width:100px;
  vertical-align:middle;
  background-color: white;
}

.selectpicker {
  width:464px;
  height:32px;
  border:0;
  background-color:rgba(0,0,0,0);
}


.previewimg {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 10px;
}

#preview-box {
	border:2px solid #cccccc;
}

#photo {
	display: none;
	height: 40px;
}

#photo-select {
	margin:10px 0;
}

.btn-default {
	width:100px;
	border: 1px solid #cccccc;
	font-weight: bold;
}
