@CHARSET "UTF-8";

#header_sub {
  border-bottom: 1px solid black;
  padding: 20px;
  color: #5e5e5e;
}

#header_sub_event_title {
  color: #c0392b; 
  font-size: 1.15em; 
  padding-right: 5px; 
  border-right: 1px solid black;
}

#header_sub_event_content {
  font-size: 1.15em; 
  margin-left: 10px;
}

#header_sub_navi {
  float: right; 
  font-size: 1.15em;
}

/* 사이드바 */

/* 컨텐츠 */

#content {
  margin-left: 200px;
  margin-bottom: 230px;
  padding: 10px;
  border-left: 1px solid rgb(224,224,224);
  background-color: rgb(255,255,255);
}

#content_header {
	padding: 20px 0px;
	height: 140px;
}

#content_profile {
	 float: left;
	 display: inline-block;
	 width: 200px;
	 /* height: 100px;  */
	 margin-left: 20px;
}

.form-inline > .form-group {
	/* padding-bottom: 20px; */
	
}

#content_profile .fa-user-circle-o {
	font-size: 5em;
	color: #9e9e9e;
	
}

#content_profile .profile.name {
	 margin-left:20px;
	 font-size: 1.25em;
}

.itemform {
	 float: left;
	 display: inline-block;
	 width: 110px; 
	 height: 100px;
	 margin-left: 40px;
}

.item.titleform {
	 margin-bottom: 15px; 
	 padding-left: 10px;
}

.item.titleform > .glyphicon {
	 font-size: 1.9em;
}

.item.titletext {
	 font-size: 1.25em;
}

.item.value {
	 display: block; 
	 width: 110px; 
	 border: 1px solid #c0392b; 
	 border-radius: 17px; 
	 font-size: 1.25em; 
	 padding: 5px; 
	 text-align: center; 
	 color: #c0392b;
}

#content_main {
	 padding-left: 80px; 
	 margin: 0px 0px 0px 0px; 
	 width: 650px;
}

#content_main > .row {
  height: 80px;
  color: #5e5e5e;
}

.maintitle {
	 background-color: #e0e0e0; 
	 border: 1px solid #cccccc; 
	 border-radius: 4px; 
/* 	 padding: 7px;  */	
   font-size: 1.1em; 
	 font-weight: bold; 
	 height: 34px;
	 text-align:center;
}

.maindesc {
  background-color: #ffffff; 
  border: 1px solid #cccccc;
  border-radius: 4px; 
  font-size: 1.0em; 
  height: 40px; 
  text-align: center;
}

.aa {
  display:table-cell;
  width:283px;
  vertical-align: middle;
}

/*------------------ 상단바 끝-------------------------- */

#content_search {
	border:1px solid #cccccc;
	border-radius:10px;
	width:623px;
	height:60px;
	margin-left:55px;
	margin-top:30px;
}

.search-text {
	margin-bottom:18px;
	margin-top:21px;
	margin-right:10px;
	margin-left:10px;
	float:left;
	font-weight: bold;
	
}

.calender {
	margin-bottom:17px;
  margin-top:19px;
	border-radius: 5px;
	width:100px;
	text-align: center;
}

#content_search .btn.btn-primary {
	margin-top:17px;
	margin-bottom:19px;
	background-color: white;
	color:red;
	border:1px solid #c0392b;
}

#content_search .btn.btn-primary:hover {
	color: white;
	background-color: #c0392b;
	border:0;
}



.ui-datepicker-trigger {
	height:23px;
}

.bt1 {
	margin-right:10px;
}

.bt2 {
	margin-right:10px;
}
.bt3 {
	margin-right:20px;
}

.bt4 {
	float:right;
	width:75px;
	height:25px;
	margin-right:17px;
}

#content_search {
	margin-bottom:30px;
}

.table-responsive {
	margin-left:28px;
}

.delete-btn {
	width:70px;
	height:25px;
  background-color: rgb(231, 76, 60);
	color:white;
	padding:0;
	font-size:0.9em;
	border:0;
	border-radius: 3px;
}

.category {
	width:500px;
	font-size:1.1em;
}

td {
	text-align: center;
	padding:9px;
}

#tr {
	margin-bottom:10px;
}

