@CHARSET "UTF-8";

body {
	outline:none;
}

.info-navi-btn {
	outline:none;
	type:button;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height:100%;
  width:25%;
  background-color:rgb(158, 158, 158);
  float:left;
  border:hidden;	
}

#board-div {
	width:100%;
	float:left;
}
#map-div {
	width:50%; 
	height:370px;
	float:right; 
	border-left:2px solid #e0e0e0;
}

.show-map-div{
	margin:15px auto 5px;
	width:85%;
	height:280px;
	background-color:black;
  display:block;
	
}

#view-big{
  color:white;
  font-size:1.3em;
  margin:auto;
  type:botton;
  height:50px;
  width:85%;
  background-color:rgb(243, 156, 18);
  border:hidden;
  display:block;
}

#info-div-01 {
	padding-top:10px;
	width:50%; 
	height:148px;
	float:left;
	border-bottom:2px solid #e0e0e0;
}

#corp-name-span {
	margin-left:20px;
	margin-bottom:6px;
	font-size:1.8em;
	font-weight:bold;
	display:inline-block;
}
#favorite-star-span {
	cursor: pointer;
	margin-right:8px;
	float:right;
	font-size:2em;
	color:rgb(127, 127, 127);
}
#corp-score-span{
	margin-left:20px;
	margin-bottom:6px;
	color:rgb(41, 128, 185);
	display:inline-block;
}
#corp-addr-span{
	margin-left:20px;
	/* margin-bottom:6px; */
	display:inline-block;
}

#corp-addr-span2{
  margin-left:20px;
  margin-bottom:6px;
  display:inline-block;
}

#addr-copy-btn{
	width:55px;
	hight:25px;
	margin-right:5px;
	type:button;
	border:hidden;
	background-color:rgb(224, 224, 224);
	float:right;
	font-size:0.8em;
	border-radius: 4px;
}
#corp-tel-span{
	margin-left:20px;
	display:inline-block;
}

#info-div-02 {
	padding-top:20px;
	padding-left:20px;
	width:50%; 
	height:148px;
	float:left; 
	border-bottom:2px solid #e0e0e0;
}

#comment-span {
	line-height:200%;
	display:block;
	color:rgb(39, 174, 96);
	
}
#booking-div {
	 width:50%;
	 height:74px;
	 float:left;
}

#booking-btn{
	color:white;
	font-size:1.3em;
	margin:5px auto;
	type:button;
	height:50px;
	width:85%;
	background-color:rgb(231, 76, 60);
	border:hidden;
	display:block;
}


#navi-div {
	outline:none;
	color:white;
  font-size:1.3em;
	width:100%;
	height:70px;
	float:left;
	background-color:rgb(158, 158, 158);
}

#navi-header-div {
  font-size:1.1em;
	border-bottom:2px solid #e0e0e0;
	width:100%; 
	height:40px;
	float:left;
	background-color:rgba(224, 224, 224, 0.56);
	vertical-align: middle;
	padding-left:20px;
	padding-top:10px;
	display: block;
}

.navi-selected {
	background-color: rgb(94, 94, 94);
	
}

#info-cont-div {
	padding:20px;
  width:100%; 
  min-height:500px;
  float:left; 
  background-color:rgba(224, 224, 224, 0.56);
}

span {
	cursor: default;
}

<!-- 코멘트 css -->

#comment-container {
   color: rgb(51, 51, 51);
}

.comment-box {
  margin: 40px 20px 0px 20px;
}

.comment-box.reply {
  background-color: rgb(224, 224, 224);
  margin: 0 0 0 50px;
  padding: 20px;
  border: 1px solid #ccc;
  display: none;
  
}

.profile-picture {
  font-size: 4em;
  display: inline-table;
  color: rgb(158, 158, 158);
  vertical-align: top;
}

.writer-interaction {
  float: right;
  margin-right: 20px;
}

.writer-interaction > a {
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.comment-box.reply .writer-interaction {
  margin-right: 0;
}

.comment-content {
  display: inline-block;
  padding-left: 10px;
}

.deleted-comment {
  font-style: italic;
  color: rgb(158, 158, 158);
}

.deleted {
  display: none;
}

.writer-name {
  font-size: 1.4em;
}

.comment-write-box > .writer-name {
  font-size: 1.2em;
} 

.write-date {
  /* font-size: 1em; */
  margin-left: 10px;
  color: rgb(158, 158, 158);
}

.comment-textline {
  margin-top: 10px;
  font-size: 1.2em;
}

.comment-write-box {
  background-color: rgb(224, 224, 224);
  padding: 20px;
  border: 1px solid #ccc;
  padding-bottom: 50px;
}

.comment-write-textarea {
  display: block;
  resize: none;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.comment-write-btn, .comment-update-btn, .comment-cancel-btn  {
  float: right;
  width: 120px;
  height: 40px;
  margin-top: 5px;
}

.comment-write-box.in-comment-box {
  background-color: white;
  margin-left: 65px;
  border: 0;
  padding: 0 0 50px 0;
  
}

.write-box-container {
  margin: 0 0 0 50px;
}

















